<ul class="menu">
  <li><a href="/login">Login</a></li>
  <li><a href="/new">Signup</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/index">View Logs</a></li>
  <li><a href="/index/new">Create Logs</a></li>
</ul>
